<html><head>
    <meta charset="UTF-8">
    <title>freemarker</title>
    <link rel="stylesheet" href="/css/newstyle.m.css">
</head>
<body>

<h1>商品列表</h1>



<div class="content infinite-scroll infinite-scroll-bottom">
    <div class="common-goods list-block">
        <ul class="list-container" id="product-container-div">
            <li>

                <a href="" class="img">
                    <img src="http://kstoreimages.b0.upaiyun.com/1472468955054.jpg!352" alt="联想(Lenovo)小新Air 13.3英寸超轻薄笔记本电脑（I7-6500U 8G 256G PCIE SSD IPS FHD WIN10）银(8GB)">

                </a>
                <div class="words">
                    <p class="name"><a href="/goodsinfo">联想(Lenovo)小新Air 13.3英寸超轻薄笔记本电脑（I7-6500U 8G 256G PCIE SSD IPS FHD WIN10）银(8GB)</a></p>
                    <p class="price" dir="activityIcon">
                        <strong>￥6999.00</strong>
                        <em>满赠</em>

                        <em>领券</em>


                    </p>
                    <p class="grey">
                        <span class="self">自营</span>


                        <span>好评&nbsp;
                                    44
%</span>
                        <span>销量&nbsp;2006</span>


                    </p>
                </div>
            </li>
            <li class="sold-out">

                <a href="" class="img">
                    <img src="http://kstoreimages.b0.upaiyun.com/1472468955054.jpg!352" alt="联想(Lenovo)小新Air 13.3英寸超轻薄笔记本电脑（I7-6500U 8G 256G PCIE SSD IPS FHD WIN10）银(8GB)">
                    <span>无货</span>
                </a>
                <div class="words">
                    <p class="name"><a href="/goodsinfo">联想(Lenovo)小新Air 13.3英寸超轻薄笔记本电脑（I7-6500U 8G 256G PCIE SSD IPS FHD WIN10）银(8GB)</a></p>
                    <p class="price" dir="activityIcon">
                        <strong>￥6999.00</strong>

                    </p>
                    <p class="grey">

                        <span class="self">灰灰的店铺</span>

                        <span>好评&nbsp;
                                    0
                                %</span>
                        <span>销量&nbsp;2006</span>


                    </p>
                </div>
            </li>
            <li>

                <a href="" class="img">
                    <img src="http://kstoreimages.b0.upaiyun.com/1472797370699.jpg!352" alt="魅族 魅蓝3 移动定制版 16GB 白色 移动联通4G<em style='color:red'>手</em><em style='color:red'>机</em> 双卡双待(白色)">

                </a>
                <div class="words">
                    <p class="name"><a href="/goodsinfo">魅族 魅蓝3 移动定制版 16GB 白色 移动联通4G<em style="color:red">手</em><em style="color:red">机</em> 双卡双待(白色)</a></p>
                    <p class="price" dir="activityIcon">
                        <strong>￥999.00</strong>

                        <em>领券</em>


                    </p>
                    <p class="grey">
                        <span class="self">自营</span>


                        <span>好评&nbsp;
                                    0
%</span>
                        <span>销量&nbsp;10</span>


                    </p>
                </div>
            </li>

        </ul>
    </div>
</div>



</body></html>