<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>freemarker</title>
</head>
<body>
<h1>4.2、 插值规则</h1>
<h2>4.2.1 通用插值</h2>
1、插值结果为字符串值:直接输出表达式结果</br>
    <#assign answer=42/>  <#-- 赋值 -->
    ${answer} <#-- 输出 --></br>
    <#assign answer='42'/>  <#-- 赋值 -->
    ${answer} <#-- 输出 --></br>
2、插值结果为数字值:根据默认格式(由#setting指令设置)将表达式结果转换成文本输出.可以使用内建的字符串函数格式化单个插值,如下面的例子:</br>

    <#setting number_format="currency"/>  <#-- 设置数字格式为货币 -->

    <#assign answer=42/>  <#-- 赋值 -->

    ${answer} <#-- 输出 --></br>

    ${answer?string} <#-- 输出格式为字符类型，与上面相同--></br>

    ${answer?string.number} <#-- 输出格式为数字类型--></br>
3,插值结果为日期值:将表达式结果转换成文本输出.可以使用内建的字符串函数格式化单个插值,如下面的例子:</br>

    ${lastUpdated?string("yyyy-MM-dd HH:mm:ss")}</br>

    ${lastUpdated?string("EEE, MMM d, ''yy")}</br>



4,插值结果为布尔值:根据默认格式(由#setting指令设置)将表达式结果转换成文本输出.可以使用内建的字符串函数格式化单个插值,如下面的例子:</br>

    <#assign foo=true/>
    ${foo?string("yes", "no")}</br>
<h2>4.2.2 数字格式化插值</h2>
    如下面的例子:
    <#assign x=2.58/>
    ${x?string["0"]}</br>
    ${x?string["0.#"]}</br>
    ${x?string["0.##"]}</br>
    ${x?string["0.###"]}</br>
    ${x?string["0.####"]}</br>
</body>
</html>